@import url('https://fonts.googleapis.com/css2? family=Estilo+Script&display=swap');

body{
    font-family: 'Style Script', cursiva;
    background-color: grey;
}

header{
    font-family: 'Style Script', cursiva;
    margin-top: -60px;
    margin-left: 20px;
    position: fixed;
    
}

.container{
    font-weight: 600;
    line-height: 1.5em;
    margin-top: 10px;
    display: inline;
    position: fixed;
    overflow-y: scroll auto;
    
}

.container .seccion{
    text-indent: 1.5em;
}

.text{
    display: table;
    width: auto;
    text-align: justify;
    margin-top: 90px;
    margin-left: 243px;
    overflow: wrap;
}


