@import url('https://fonts.googleapis.com/css2? family=Estilo+Script&display=swap');

.color{
    font-family: 'Style Script', cursiva;
    background-color: rgb(253, 253, 253);
}

header{
    font-family: 'Style Script', cursiva;
    margin-top: -60px;
    margin-left: 20px;
    position: fixed;
    
}

.container{
    font-weight: 600;
    line-height: 1em;
    margin-top: 0.5px;
    display: inline;
    position: fixed;
    overflow-y: scroll auto;
    
    
}

.container .seccion{
    text-indent: 1.5em;
}

.text{
    display: table;
    width: 66vw;
    text-align: justify;
    margin-top: 30px;
    margin-left: 240px;
    overflow: wrap;
    
}

.text img{
    width: 680px;
    height: 50px;
}

h4{
    text-align: left;
    margin-top: 30px;
}
